//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]

head
	meta(charset='utf-8')
	title Rock Scrissors Paper
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	
	link(rel="stylesheet", type="text/css", href="/stylesheets/app.css")
	
	script(src="/javascripts/vendor.js")
	script(src="/javascripts/app.js")
	
	script.
		require("initialize")

	block scripts